:root {
    --bg-primary: #0d6efd;
    --bs-heading-color: #0d6efd;
}

.nav-link {
        color: white !important;
    .navbar-toggler{
         border: 1px solid white !important;

         }
             .navbar-toggler-icon {
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
        }
            }



.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}


.footer-navigation-container{
    width: 100%;
}

.button-login{
    text-decoration: none;
    color: #ffff;
    background-color: #64AF13;
    padding: 12px 30px;
    border-radius: 30px 30px 0px 30px;
    font-weight: 400;
    font-size: 15px;
}