.row{
    justify-content: center;


    .contact-content{
            .btn{
                    font-family: $mainfontssecondary;
                    font-size: $textSm;
                    width: 100%;
                    padding: 0.7em 2em;
                    color: $maincolor;
                    background-color: $color-light;
                    border-style: solid 1px;
                    border-color: $maincolor;
                    border-radius: 30px 30px 30px 0px;
                    text-decoration: none;
                    

                        &:hover{
                        font-family: $mainfontssecondary;
                        font-size: $textSm;
                        width: 100%;
                        height: fit-content;
                        color: $color-light;
                        background-color: $maincolor;
                        border: solid 1px;
                        border-radius: 30px 30px 30px 0px;
                        text-decoration: none;
                        

                        }
                        }
            }
            
            
            form{
                flex-wrap: wrap;
                width: 100%;

                .items{
                    padding-bottom: 30px;
                    
                    label{
                        width: 100%;
                        margin-bottom: px;
                        font-family: $mainfontssecondary;
                        font-size: $textSm;
                        font-weight: $fontMedium;
                        color: $color-dark;
                    }

                    input{
                        border-style: none !important;
                        background-color: $color-card!important;
                        width: 100%;
                        padding: 15px 10px;
                        font-family: $mainfontssecondary;
                        font-size: $textSm;
                        font-weight: $fontLight;
                    }

                    textarea{
                        border-style: none !important;
                        padding: 15px 10px;
                        background-color: $color-card !important;
                        width: 100%;
                        font-family: $mainfontssecondary;
                        font-size: $textSm;
                        font-weight: $fontLight;
                    }
                }
            }

            .direccion{
                    columns: 1 300px;
                    padding-top: 10px;
                    iframe{
                        max-width: 100%;
                        padding: 5px;
                    }
                
            }

} 


