.container-fluid{
    z-index: 1;
    position: fixed;
    top: 0%;
    background-color: $maincolor;
    padding: 1em;
    display:flex;
    justify-content: space-evenly;
    font-family: $mainfontssecondary;
   
     ul{
        display: flex;
        align-items: center;
        
        li{
            list-style: none; 
            
            a{
                text-decoration: none;
                color: $color-card;
                font-size: $textSm;
                font-weight: $fontLight;
                
                 &:hover {
                    font-weight: $fontMedium;
                    color: #fff;
                    cursor:pointer;
                }
             }
         }
    }
    
    
    .navbar-toggler {
        height: 40px;
        color: $color-light;
        max-width: 2em;
        display: flex;
        align-items: center;
        
    }

    
    .btn{
                font-family: $mainfontssecondary;
                font-size: $textSm;
                width: auto;
                height: fit-content;
                padding: 0.7em 2em;
                color: $color-light;
                background-color: $colorbuttonnav;
                border-style: solid;
                border-radius: 30px 30px 30px 0px;
                text-decoration: none;

                &:hover{
                font-family: $mainfontssecondary;
                font-size: $textSm;
                width: auto;
                height: fit-content;
                padding: 0.7em 2em;
                color: $color-light;
                background-color: $colorbuttonnav;
                border-style: solid;
                border-radius: 30px 30px 30px 0px;
                text-decoration: none;
                    
                }

        }


}