.card{
    background-color: $color-card;
    
    .card-header{
        

        h3{
            font-family: $mainfontsprimary;
            font-size: $textLg;
            font-weight: $fontMedium;
        }
    
    }
}