//colors
$maincolor:#384FF0;
$secondarycolor: #EBB22C;
$colorbuttonnav: #64b80b;
$color-light: #ffff;
$color-card: #eceeff;
$color-dark:#000;


//fonts
$mainfontsprimary:'Paytone One', sans-serif;
$mainfontssecondary: 'Roboto', sans-serif;

//sizing
$textSm:0.7em;
$textMd:0.8em;
$textLg:1.1em;
$textXl:2em;

//fontweight
$fontLight:300;
$fontMedium:400;
$fontSemibold:500;
$fontBold:600;
